.aItem {
  text-decoration: none;
  color: #aab7c4 !important;

}

a {
  &.active {
      color: white !important;
  }
}

// .logo {
//   cursor: pointer;

//   &:focus {
//       outline: none;
//   }
// }

.dropdown-toggle, .dropdown-item{
  cursor: pointer;
}

.imgmain{
  border-radius: 50%;
}

