<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand text-uppercase mx-3" routerLink="/">
      <img src="/assets/images/BigAlsCanada.png" width="30" height="30">
      <span class="text-center" style="margin-left: 1rem; margin-right: 2rem; font-size: large; font-weight: bold; color: rgb(0, 157, 255);">BigAl's</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="user$ | async">
          <li class="nav-item">
            <a class="nav-link mx-2" style="font-size: small;" routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link mx-2" style="font-size: small;" routerLink="/matches" routerLinkActive="active">Matches</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link mx-2" style="font-size: small;" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" style="font-size: small;" routerLink="/messages" routerLinkActive="active">Message</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" style="font-size: small;" routerLink="/test-error" routerLinkActive="active">Errors</a>
          </li>
        </ng-container>
      </ul>

      <form *ngIf="!(user$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2"
          type="text"
          placeholder="Username"
        />
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          type="password"
          placeholder="Password"
        />
        <button class="btn btn-sm btn-primary mx-2" style="margin-top: 2px; margin-bottom: 2px;" type="submit">
          LOGIN
        </button>
      </form>

      <div class="btn-group" dropdown *ngIf="(user$ | async) as u">
        <button dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle" aria-controls="dropdown-animated">
          Welcome {{u?.username | uppercase}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a class="dropdown-item mt-2">Edit Profile</a></li>
          <li role="menuitem"><a class="dropdown-item mt-1">Search</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" (click)="logout()" style="color: red;">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

</nav>

