
<div class="row">
  <div class="col-4">
      <div class="card shadow" style="border-radius: 10px;">
          <img src="{{coverPhoto || './assets/images/user.png'}}" alt="{{member?.knownAs}}" class="card-img-top img-thumbnail">
         <div class="card-body">
             <!-- <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username)" >
                 <i class="fa fa-user-circle text-success"></i> Online now
             </div> -->

             <div>
                 <strong>Locations:</strong>
                 <p>{{member?.city}},{{member?.country}}</p>
             </div>
             <div>
                 <strong>Age:</strong>
                 <p>{{member?.age}}</p>
             </div>
             <div>
                 <strong>Member since:</strong>
                 <p>{{member?.created | date: 'longDate'}}</p>
             </div>
             <div>
                 <strong>Last active:</strong>
                 <p>{{member?.lastActive | timeago}}</p>
             </div>
         </div>
         <div class="card-footer">
             <div class="btn-group btn-group-justified d-flex shadow">
                <!-- w-100 makes btns with same width-->
                 <button class="btn btn-primary w-100">Like</button>
                 <button class="btn btn-success w-100">Message</button>
             </div>
         </div>
     </div>
  </div>

  <div class="col-8">
      <tabset class="member-tabset" #memberTabs>
         <tab class="p-3" heading='About {{member?.knownAs}}' (selectTab)="onTabActivated($event)">
             <h3>Description</h3>
             <p>{{member?.introduction}}</p>
             <h3>Looking for</h3>
             <p>{{member?.lookingFor}}</p>
         </tab>

         <tab heading='Interests' (selectTab)="onTabActivated($event)" class="p-3">
             <h3>Interests</h3>
             <p>{{member?.interests}}</p>
         </tab>

         <tab heading='Photos' (selectTab)="onTabActivated($event)">
            <div class="d-flex justify-content-center">
              <ngx-gallery [options]="galleryOptions!" [images]="galleryImages!"></ngx-gallery>
            </div>
         </tab>

         <tab heading='Messages' (selectTab)="onTabActivated($event)">
             <!-- <app-member-messages [username]="member.username"></app-member-messages> -->
         </tab>
      </tabset>
  </div>
 </div>
